@import "tailwindcss";
@import "./style/color.css";

* {
  box-sizing: border-box;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;
  color: (--color-black);
}
