@import "tailwindcss";
@import "./style/color.css";

@theme inline {
  --shadow-4: 0 0 4px 0;
}

* {
  box-sizing: border-box;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;
  color: (--color-black);
}

@keyframes spinnerFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-spinner-fade {
  animation: spinnerFade 1000ms infinite linear;
}
